@model Cart

@{
    ViewData["Title"] = "Shopping Cart";
}

@if (Model.Items.Count == 0)
{
    <div class="text-center">
        <h1 class="display-4">Your cart is empty!</h1>
        <hr />
        <a asp-controller="Products" asp-action="Index">Continue shopping</a>
    </div>
}
else
{
    <vc:shopping-cart></vc:shopping-cart>
@*  @await Component.InvokeAsync("ShoppingCart") *@
    <hr />
    <a class="btn btn-primary btn-lg float-start" asp-controller="Products" asp-action="Index">Continue shopping</a>
    <a class="btn btn-success btn-lg float-end" asp-controller="Order" asp-action="Index">Order products</a>
}