@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
            <i class="bi bi-cart"></i>
            Cart
            @if (ViewBag.CartCount != null && ViewBag.CartCount > 0)
            {
                <span class="top-0 start-100 translate-middle badge rounded-pill bg-danger">

                    @ViewBag.CartCount
                    <span class="visually-hidden">unread messages</span>
                </span>
            }
        </a>
    </li>
}
